* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  color: white;
}

.mainn {
  background-image: url(starter-code/assets/home/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.flexx1 {
  display: flex;

  padding-top: 2rem;
}
.div1 {
  margin-left: 2rem;
  font-size: 0.5rem;
}
.upp {
  animation: moveInTop 3s ease-out;
}
.fade {
  animation: fadesIn 3s;
}
/*the nav for mobile*/
.mobile-nav {
  display: none;
}
.mobile-navbtn {
  display: none;
}
.mobile-navreveal {
  display: none;
}

@keyframes fadesIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInTop {
  0% {
    transform: translateY(7rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.div2 {
  margin-left: 7rem;
  width: 35%;
  height: 2%;
  border: 0.01rem solid rgba(255, 255, 255, 0.308);
  margin-top: 2.4rem;
}

.div3 {
  font-size: 1.5rem;
  display: flex;
  gap: 3rem;
  padding-left: 2rem;
  padding-right: 2.5rem;
  width: 58%;
  text-align: center;
  padding-top: 1.5rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.4rem);
}

.spn1 {
  margin-right: 0.4rem;
}
.hidden1 {
  border-bottom: 0.3rem solid white;
}
.black {
  color: black;
}
.section1 {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 9rem;
  margin-top: -4rem;
}
a {
  text-decoration: none;
  color: white;
}

.div1-section h1 {
  font-size: 6.4rem;
  letter-spacing: 2.1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.div1-section span {
  font-size: 1.8rem;
  word-spacing: 0.3rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.593);
  font-weight: 100;
}

.div1-section p {
  font-size: 1.8rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.593);
}
.div1-section {
  width: 45%;
}

.div2-section {
  text-align: center;
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
  color: black;
  border-radius: 50%;
  transition: all 0.8s;
}

.div2-section:hover {
  transform: translateY(4rem) scaleX(1.3) scaleY(1.3); /* to move from bottom to top its in negative*/
  box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.6);
}

.div2-section p {
  font-size: 2.6rem;
}

.home-a {
  padding-bottom: 1.5rem;
}

/*Destination page styling*/
.main2 {
  background-image: url(starter-code/assets/destination/background-destination-desktop.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.navv {
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section2 {
  display: flex;
}
.planet-img {
  width: 80%;
  margin-top: 4.5rem;
  animation: rotate 20s infinite;
}

.planet-h1 {
  margin-left: 7rem;
  text-transform: uppercase;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
  word-spacing: 0.3rem;
  letter-spacing: 0.2rem;
  font-size: medium;
}

.planet-h1-span {
  margin-right: 0.7rem;
  color: rgba(255, 255, 255, 0.296);
}
.div1-section2 {
  width: 33%;
  margin-left: 10rem;
}

.div2-section2 {
  width: 45%;
  padding-left: 5rem;
  padding-top: 2rem;
  margin-top: 4rem;
}
.small-nav {
  display: flex;
  gap: 5rem;
  width: 100%;
  font-size: 1.3rem;
}
.planet-h2 {
  font-size: 5rem;
  letter-spacing: 3rem;
  text-transform: uppercase;
}

.planet-p {
  font-size: 1.53rem;
  color: rgba(255, 255, 255, 0.593);
}

.line-div {
  width: 95%;
  height: 0.1%;
  border: 0.01rem solid rgba(255, 255, 255, 0.174);
}
.footer-div {
  display: flex;
  gap: 9rem;
}

.span-footer {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.433);
}

.footer-div2,
.footer-div3,
.footer-p1,
.footer-p2 {
  font-size: 1.8rem;
}

/* styling for thr crew page*/
.main-crew {
  background-image: url(starter-code/assets/crew/background-crew-desktop.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.section-crew {
  display: flex;
  gap: 9rem;
}
.crew-img {
  width: 50%;
}

.div2-crew {
  margin-top: 5rem;
}
.div1-crew {
  width: 40%;
  margin-left: 10rem;
  margin-top: 11rem;
}

.span-crew2 {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.452);
  text-transform: uppercase;
}
.h2-crew {
  font-size: 3.5rem;
  font-weight: 200;
  text-transform: uppercase;
}
.crew-p {
  font-size: 1.52rem;
  color: rgba(255, 255, 255, 0.593);
  font-weight: 100;
}

.circle {
  display: flex;
  gap: 2rem;
}

.span-crew1 {
  margin-right: 0.7rem;
  color: rgba(255, 255, 255, 0.296);
}

.crew-h1 {
  font-size: medium;
  font-weight: 100;
  margin-left: 16rem;
}

/*technology styling*/
.main-tech {
  background-image: url(starter-code/assets/technology/background-technology-desktop.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.section-tech {
  display: flex;
  gap: 6rem;
  margin-left: 10rem;
}

.tech-img {
  width: 26vw;
}

.div1-tech {
  width: 6%;
  margin-top: 5rem;
}
.div2-tech {
  width: 40%;
  margin-top: 5rem;
}

.div3-tech {
  width: 36%;
}
.hid {
  display: block;
}
.hidden-divmobile {
  display: none;
}

.btn1 {
  padding: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.404);
  color: white;
  border-style: solid;
}

.h2-tech {
  font-size: 3rem;
  font-weight: 100;
  word-spacing: 0.5rem;
}

.p-tech {
  font-size: 1.53rem;
  color: rgba(255, 255, 255, 0.593);
}
.span-tech {
  color: rgba(255, 255, 255, 0.549);
  font-size: 1.1rem;
  font-weight: 100;
}

.circlee {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  padding: 0.4rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.267);
}

.whitee {
  background-color: white;
}

.btn {
  background-color: white;
  color: black;
}
/*media query for tablet*/
@media (max-width: 769px) {
  /*for the home page*/
  .mainn {
    width: 100%;

    background-image: url(starter-code/assets/home/background-home-tablet.jpg);
  }

  .section1 {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: -1rem;
    display: inline-block;
  }
  .div1-section {
    margin: auto;
    width: 73%;
    text-align: center;
  }

  .div2-section {
    text-align: center;
    display: inline-block;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
  }
  /*destonation page*/
  .section2 {
    text-align: center;
    gap: 1rem;
    margin-top: 5rem;
  }
  .div2-section2 {
    width: 60%;
  }
  .div1-section2 {
    margin-left: 3rem;
  }
  .planet-img {
    width: 100%;
  }

  .navv {
    font-size: 2rem;
  }
  .planet-h2 {
    font-size: 5.5rem;
    letter-spacing: 2.4rem;
  }
  .planet-p {
    font-size: 20px;
  }
  .footer-div {
    gap: 20rem;
  }

  /*for crew page */
  .div1-crew {
    width: 70%;
    margin-left: 5rem;
    margin-top: 11rem;
  }
  .crew-p {
    font-size: 19px;
  }
  .crew-img {
    width: 80%;
    height: 70%;
    margin-top: 6rem;
  }
  .div2-crew {
    text-align: center;
  }
  /*tech page*/

  .section-tech {
    margin-left: 3rem;
    gap: 4rem;
    margin-top: 4rem;
  }
  .tech-img {
    width: 110%;
    margin-top: 3rem;
  }
  .p-tech {
    font-size: 18px;
  }
}
/* mobile*/
@media (max-width: 576px) {
  .mainn {
    background-image: url(starter-code/assets/home/background-home-mobile.jpg);
    background-position: cover;
    width: 100%;
  }
  .div1 {
    margin-left: 0;
  }

  .div2 {
    display: none;
  }

  .flexx1 {
    gap: 1.2rem;
  }

  .div1-section {
    margin-top: 62px;
  }
  .first-p {
    width: 100%;
    margin-bottom: 35px;
  }
  .spn1 {
    margin-right: 0.2rem;
  }
  .div2-section {
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.6);
  }
  .section2 {
    display: inline;
  }
  .div1-section2 {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: -3.3rem;
  }
  .h1-space {
    font-size: 1rem;
  }
  .section1 {
    margin-top: -16rem;
  }

  /*destination page*/
  .planet-img {
    width: 200px;
    margin-top: 8rem;
  }
  .planet-h1 {
    margin-top: -2.5rem;
    margin-left: 1rem;
  }
  .div2-section2 {
    width: 80%;
    margin: auto;
  }
  .planet-h2 {
    text-align: center;
    padding-left: 1.5rem;
  }
  .div-planet {
    margin-left: -2.4rem;
    width: 100%;
    text-align: center;
  }
  .line-div {
    width: 100%;
    margin-left: -3rem;
    text-align: center;
  }
  .small-nav {
    margin: auto;
    width: 100%;
    margin-left: -3.7rem;
  }
  .footer-div {
    gap: 12rem;
    margin-left: -2rem;
    width: 90%;
  }
  .span-footer {
    width: 13rem;
    margin-left: -3.6rem;
  }

  .footer-p1,
  .footer-p2 {
    margin-left: -3.2rem;
  }
  .footer-div2 {
    width: 40%;
    text-align: center;
  }
  .footer-div3 {
    width: 40%;
    text-align: center;
  }

  /*crew page*/
  .section-crew {
    display: inline;
  }

  .div2-crew {
    position: absolute;
    top: 8rem;
    left: 10rem;
  }
  .crew-img {
    width: 200px;
    height: 210px;
  }
  .circle {
    margin-left: 10rem;
  }
  .h2-crew {
    font-size: 28px;
  }
  .div1-crew {
    position: absolute;
    top: 30rem;
    left: -2rem;
    width: 80%;
    text-align: center;
  }
  .crew-h1 {
    margin-left: 1rem;
  }
  /* style for the nav bar*/
  .mobile-nav {
    width: 200px;
    display: none;
    height: 200px;
    padding-left: 1rem;
    padding-top: 1rem;
    background: rgba(255, 255, 255, 0.086);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.4rem);
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    text-transform: uppercase;
    border-bottom-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
  }
  .mobile-a {
    margin-top: 7rem;
  }
  .mobile-navbtn {
    margin-left: 16rem;
    font-size: 26px;
    background-color: transparent;
    border: none;
    display: block;
  }
  .mobile-navreveal {
    display: block;
    padding: 1rem;
    font-size: larger;
  }
  .div3 {
    display: none;
  }
  .flexx1 {
    gap: 26rem;
    padding-left: 1.5rem;
  }

  /*technologies page mobile responsiveness*/
  .section-tech {
    margin-left: 1rem;
    width: 90%;
    margin: auto;
    text-align: center;
    gap: 5rem;
  }
  .div3-tech {
    display: none;
  }
  .hidden-divmobile {
    display: block;
  }
  .mobile-imgtech {
    width: 100%;
  }
  .div2-tech {
    width: 84%;
    margin-top: 8rem;
  }
  .p-tech {
    font-size: 17px;
  }
  .btn1 {
    font-size: 1.3rem;
  }
  .div1-tech {
    margin-top: 8rem;
  }
}
